language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7
    - nightly
    - hhvm

before_script:
    - composer self-update
    - composer install
    - mkdir -p build/logs

script:
    - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
    - vendor/bin/coveralls --no-interaction
